html {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}

html {
  background-color: #887291;
}



.container-grid {
    display: grid;
    
    grid-template-areas: 
        "header header  header"
        "navbar main    main"
        "footer footer  footer";

    grid-template-columns: auto;
    grid-template-rows: auto;    
}

.header {grid-area: header;}
.navbar {grid-area: navbar;}
.footer {grid-area: footer;}


#hero {
    width: 100%;
    height: 100vh;
}